<a href="https://colab.research.google.com/github/Icyfire18/Face_Counting/blob/master/importdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from keras.models import Sequential, Model, model_from_json
from keras.layers import Dense, Conv2D, Activation, MaxPool2D, Flatten, Dropout, BatchNormalization
from keras.utils import np_utils
from keras.callbacks import ModelCheckpoint

In [4]:
!git clone https://github.com/Icyfire18/Face_Counting.git

Cloning into 'Face_Counting'...
remote: Enumerating objects: 7909, done.
remote: Counting objects: 100% (7909/7909), done.
remote: Compressing objects: 100% (7907/7907), done.
remote: Total 8229 (delta 2), reused 7903 (delta 1), pack-reused 320
Receiving objects: 100% (8229/8229), 379.69 MiB | 37.74 MiB/s, done.
Resolving deltas: 100% (9/9), done.
Checking out files: 100% (8201/8201), done.

In [5]:
!ls

Face_Counting  sample_data

In [10]:
df = pd.read_csv("Face_Counting/bbox_train.csv")
df.head()

        Name  width  height  xmin  ymin  xmax  ymax
0  10001.jpg    612     408   192   199   230   235
1  10001.jpg    612     408   247   168   291   211
2  10001.jpg    612     408   321   176   366   222
3  10001.jpg    612     408   355   183   387   214
4  10002.jpg    612     408   339   165   378   202

In [11]:
df = pd.read_csv("Face_Counting/train.csv")
df.head()

        Name  HeadCount
0  10001.jpg          4
1  10002.jpg          4
2  10003.jpg          2
3  10004.jpg          3
4  10006.jpg          4