<a href="https://colab.research.google.com/github/Icyfire18/Face_Counting/blob/master/importdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from keras.models import Sequential, Model, model_from_json
from keras.layers import Dense, Conv2D, Activation, MaxPool2D, Flatten, Dropout, BatchNormalization
from keras.utils import np_utils
from keras.callbacks import ModelCheckpoint

In [5]:
!ls

bbox_train.csv	image_data  sample_data  train.csv

In [6]:
df = pd.read_csv("bbox_train.csv")
df.head()

        Name  width  height  xmin  ymin  xmax  ymax
0  10001.jpg    612     408   192   199   230   235
1  10001.jpg    612     408   247   168   291   211
2  10001.jpg    612     408   321   176   366   222
3  10001.jpg    612     408   355   183   387   214
4  10002.jpg    612     408   339   165   378   202

In [7]:
df = pd.read_csv("train.csv")
df.head()

        Name  HeadCount
0  10001.jpg          4
1  10002.jpg          4
2  10003.jpg          2
3  10004.jpg          3
4  10006.jpg          4